@font-face {
    font-family: 'Merriweather'; 
    src: url('https://www.google.com/fonts#UsePlace:use/Collection:Merriweather');
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body,div,header,h1,h2,h3{
	margin: 0;
}

body{
	font-family: 'Merriweather';	
	color:white;
	font-size: 1vm;
}

header{
	/*background-image: url('../imgs/images/HomeBG.jpg');*/
	padding: 7.5em 15em;

}
header .btn{
	background-color: red;
	width: 10em;
	height: 3em;
	
}
header .background{
	position: absolute;
	top:0;
	left: 0;
	z-index: -10;
	height: auto;
   	width: 100%;
}
header p{
	font-size: 2em;
	font-weight: lighter;
}

h1{
	font-size: 5vw;	
}
header .logo{
	width: 15em;
	height: 15em;
}

.talent img{
	width: 5em;
	height: 5em;
}
footer .logo img{
	width: 3em;
	height: 3em;
}

.clearfix div{
	width: 50%;
	float: left;
}

.clearfix div img{
	width: 100%;
}
.content{
	background-color: black;
	padding: 10em 7.5em;
}



.dropdown{
	position: absolute;
	top: 2em;
	right:2em;
}

.dropdown button{
	background-color: rgba(0,0,0,0);
}
.dropdown ul{
	background-color: red;
	font-size: 0.5em;
} 
.red{
	background-color: red;
	padding: 2em;
	text-align: center;
}
.red h2, .red p, .red img{
	margin: 1em 0.5em; 
}


.underline{
	border-bottom: 1px solid white;
	padding-bottom: 0.3em; 
	margin-bottom: 0.3em;
}

footer p{
	text-align: center;
}